@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* colors */
    --first-color: #0C356A;
    --second-color: #FFC436;
    --third-color: #0174BE;
    --fourth-color: #FFF0CE;
    --black-color: #1E1E1E;
    --white-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('/about.svg');
    background-size: 100vw;
    background-repeat: no-repeat;
}

.container {
    margin-bottom: 8%;
}

.centered {
    justify-content: center;
    text-align: center;
    margin-bottom: 25%;
}

.centered h2 {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 48px;
    font-weight: 700;
}

.centered p {
    font-size: 20px;
    font-weight: 600;
}

.section_title {
    color: var(--first-color);
    margin-bottom: 5%;
    font-size: 48px;
    font-weight: 700;
}

.content_section ul, .content_section p {
    line-height: 2;
}

.content_section ul li, .content_section p {
    font-size: 20px;
    font-weight: 600;
}